@using Bookstore.App.Models
@model List<Customer>

@{
    ViewBag.Title = "Index";
}

<h2>List of customers</h2>

@foreach (var customer in Model)
{
    <p>
        @Html.ActionLink("Link", "Details", "Customer", new { id = customer.Id}, new {@class = "btn btn-primary"})  
        @customer.FirstName 
        @customer.LastName
    </p>
        
}